<h1><%= link_to 'Listing categories', categories_path %></h1>

<%#=h raw(@s) %>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.title %></td>
    <td><%= category.description %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><% @params = { :category => {:title => "s", :description => "saf" }, :id => "148" }  %>
      <%= link_to 'Update', category_path(@params), method: :put %></td>

  </tr>
<% end %>
  <tr>
    <td><%= link_to 'New Category', new_category_path %>    </td></tr>
    <tr><td><%= link_to 'Category', categories_path %>    </td>
    <tr><td><% @params = { :category => {:title => "z", :description => "saf" } }  %>
    <%= link_to 'Create', categories_path(@params), method: :post %>    </td></tr>
</table>

<br />



<%# @category = Category.new({title: "I",description: "Hello"}) %>

